.header-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 30px 50px;
  border: 1px solid #808080FF;
  .mdc-button {
    box-shadow: 1px 2px 5px 0px rgba(79,75,79,1);
    &.active {
      background-color: #37dd1c;
      color: #000;
    }
  }
}
